

*{
    padding: 0;
    margin: 0;
}

.head{
    /* image size */
    width: 1920px;
    height: 1182px;
    /* image properties */
    background-image: url('/assets/god_bg.png');
    background-repeat: no-repeat;
    background-position: bottom 110px center;
}

.bilt{
    /* image position */
    position: absolute;
    top: 42px;
    left: 71px;
    /* Image size */
    width: 212px;
    height: 53px;
    background-image: url('/assets/paybilt_logo_black.png');
}

.red{
    /* image position */
    position: absolute;
    top: 88px;
    left: 100px;
    /* image size */
    width: 216px;
    height: 64px;
    background-image: url('/assets/spray_brush.png');
}

.list{
    /* typography */
    font-family: 'Roboto', sans-serif;
}

.list li{
    /* list position */
    position: relative;
    display: inline-block;
}

.list li a{
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    color: black;
}

.list ul{
    list-style: none;
    /* list position */
    position: relative;
    width: 500px;
    top: 50px;
    left: 700px;
}

.list img{
    /* image position */
    position: relative;
    top: 33px;
    left: 860px;
    /* image size */
    width: 100px;
}

.login{
    /* typography */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* type of box */
    background: black;
    border-radius: 50px;
    /* box size */
    width: 110px;
    height: 53px;
    /* box position */
    position: relative;
    left: 1400px;
    bottom: 42px;
}

.login a{
    text-decoration: none;
    color: white;
    
    position: absolute;
    top: 15px;
    left: 34px;  
}

.support{
    /* typography */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* type of box */
    background: #FFFC30;
    border-radius: 50px;
    /* box size */
    width: 110px;
    height: 53px;
    /* box position */
    position: relative;
    left: 1600px;
    top: -95px;
}

.support a{
    text-decoration: none;
    color: black;
    
    position: absolute;
    top: 15px;
    left: 24px;  
}

.capa{
    position: absolute;
    top: 130px;
    left: 16px;
}

.girl-earphones{
    position: relative;
    width: 906px;
    left: 890px;
    bottom: 910px;
}

.slogan img{
    position: relative;
    top: 50px;
    left: 70px;

    width: 700px;
}

#canadian{
    position: absolute;
    bottom: 450px;
    left: 120px;

    width: 600px;
}

#payment{
    position: relative;
    top: 30px;
    left: 120px;

    width: 500px;
}

#using{
    position: relative;
    right: 400px;
    top: 180px;
}

@import './base/_sneakers';
@import './base/_24m';
@import './base/skate';