

*{
    padding: 0;
    margin: 0;
}


.head{
    /* image size */
    width: 1920px;
    height: 1182px;
    /* image properties */
    background-image: url('/assets/god_bg.png');
    background-repeat: no-repeat;
    background-position: bottom 110px center;
}
@media only screen and (max-width: 375px){

    .head{
        position: relative;

        width: 375px;
        height: 375px;  
        background-image: url('/assets/god_bg.png') ;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


.bilt{
    /* image position */
    position: absolute;
    top: 42px;
    left: 71px;
    /* Image size */
    width: 212px;
    height: 53px;
    background-image: url('/assets/paybilt_logo_black.png');
}

@media only screen and (max-width: 375px){
    .bilt{
        width: 90px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url('/assets/paybilt_logo_black.png');

        position: absolute;
        top: 20px;
        left: 10px;
    }
}

.red{
    /* image position */
    position: absolute;
    top: 88px;
    left: 100px;
    /* image size */
    width: 216px;
    height: 64px;
    background-image: url('/assets/spray_brush.png');
}

@media only screen and (max-width:375px) {
    .red{
        /* image position */
        position: absolute;
        top: 30px;
        left: 15px;
        /* image size */
        width: 50px;
        background-image: url('/assets/spray_brush.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.list{
    /* typography */
    font-family: 'Roboto', sans-serif;
}

.list li{
    /* list position */
    position: relative;
    display: inline-block;
}

.list li a{
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    color: black;
}

.list ul{
    list-style: none;
    /* list position */
    position: relative;
    width: 500px;
    top: 50px;
    left: 700px;
}

@media only screen and (max-width:375px) {

    .list{
        width: 270px;
        margin: 0 auto;
    }

    .list li{
        /* list position */
        float: left;
    }
    
    .list li a{
        text-decoration: none;
        color: black;
        margin: 5px;
        font-size: 10px;
    }

    .list ul{
        display: inline-block;

        list-style: none;
        /* list position */
        position: relative;
        width: 270px;
        top: 20px;
        left: 10px;
    }
}


.list img{
    /* image position */
    position: relative;
    top: 33px;
    left: 860px;
    /* image size */
    width: 100px;
}

@media only screen and (max-width:375px) {
    .list img{
        position: relative;
        top: 10px;
        left: 100px;
        width: 50px;
    }

}

.login{
    /* typography */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* type of box */
    background: black;
    border-radius: 50px;
    /* box size */
    width: 110px;
    height: 53px;
    /* box position */
    position: relative;
    left: 1400px;
    bottom: 42px;
}

.login a{
    text-decoration: none;
    color: white;
    
    position: absolute;
    top: 15px;
    left: 34px;  
}

@media only screen and (max-width:375px) {
    .login{
        left: 320px;
        width: 50px;
        height: 24px;
    }

    .login a{
        font-size: 10px;
        position: absolute;
        top: 5px;
        left: 13px;  
    }
}

.support{
    /* typography */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* type of box */
    background: #FFFC30;
    border-radius: 50px;
    /* box size */
    width: 110px;
    height: 53px;
    /* box position */
    position: relative;
    left: 1600px;
    top: -95px;
}

.support a{
    text-decoration: none;
    color: black;
    
    position: absolute;
    top: 15px;
    left: 24px;  
}

@media only screen and (max-width:375px) {
    .support{
        left: 320px;
        width: 50px;
        height: 24px;
        top: -35px;
    }

    .support a{
        font-size: 10px;

        position: absolute;
        top: 7px;
        left: 5px; 
    }
}

.capa{
    position: absolute;
    top: 130px;
    left: 16px;
}

@media only screen and (max-width:375px) {
    .capa{      
        width: 375px;
    }

    .capa img{
        width: 650px;

        position: relative;
        top: 200px;
        right: 300px;
    }
}

.girl-earphones{
    position: relative;
    width: 906px;
    left: 890px;
    bottom: 910px;
}

@media only screen and (max-width:375px) {
    .girl-earphones img{
        position: relative;
        width: 350px;
        height: 335px;
        top: 800px;
        right: 890px;
    }
}

.slogan img{
    position: relative;
    top: 50px;
    left: 70px;

    width: 700px;
}

@media only screen and (max-width:375px) {
    .slogan img{
        position: relative;
        top: -30px;
        left: 30px;
        width: 320px;
    }
}

.text{
    position: relative;
    left: 130px;
    bottom: 40px;
    width: 700px;
}


.text h1{
    font-family: 'Roboto', sans-serif;
    font-weight:1000;
    font-size: 6em;
    line-height: 1;
    letter-spacing: -6px;
}

.text p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top: 80px;
}

@media only screen and (max-width:375px){
    .text{
        position: relative;
        left: 43px;
        bottom: 80px;
        width: 300px;
    }

    .text h1{
        font-family: 'Roboto', sans-serif;
        font-weight:900;
        font-size: 3em;
        line-height: 1;
        letter-spacing: -6px;
    }

    .text p{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        padding-top: 20px;
    }
}




@import './base/_sneakers';
@import './base/_24m';
@import './base/skate';
@import './base/concert';
@import './base/white-squares';
@import './base/girl-in-pink';
@import './base/footer';