.black-box{
    width: 1920px;
    height: 2000px;
    background-image: url('/assets/rectangle.png');
}

.degraded2{
    width: 1794px;
    height: 1049px;

    background-image: linear-gradient(#000000b0, #000000b0),url('/assets/rectangle545.png');

    position: relative;
    left: 50px;
}

.degraded2 h1{
    width: 900px;

    position: relative;
    left: 900px;
    top: 5px;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
}

.degraded2 p{
    width: 900px;

    position: relative;
    left: 900px;
    top: 150px;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

#pain{
    position: relative;
    left: 1355px;
    top: 150px;
}

.music-band{
    width: 1920px;
    height: 969px;

    background-image: url('/assets/group687.png');
}

.payments-disbursements{
    display: flex;
}

.payments-disbursements h1{
    color: white;

    margin: 0 auto;

    position: relative;
    top: 600px;

    font-family: 'Roboto', sans-serif;
    font-size: 5em;

}

#below{
    position: relative;
    right: 1170px;
    top: 600px;
}

#above{
    position: relative;
    top: 600px;
    right: 300px;
}

.sponsors{
    position: relative;
    top: 630px;

    display: flex;
}

.sponsors1{
    position: relative;
    left: 100px;
}

.sponsors1 img{
    padding: 0 70px 0 70px;
}

.sponsor2{
    position: relative;
    left: 250px;
}

.sponsor2 img{
    padding: 0 70px 0 70px;
}

.own-names{
    display: flex;
}

.payments{
    position: relative;
    left: 170px;
    top: 650px;
}

.payments img{
    padding: 0 95px 0 0;
}

#cheque{
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}

.disbursements{
    position: relative;
    left: 350px;
    top: 650px;
}

.disbursements img{
    padding: 0 150px 0 0;
}

#direct{
    margin-bottom: 15px;
}

#visa{
    margin-bottom: 15px;
}

#master{
    margin-bottom: 15px;
}