.footer{
    width: 1920px;
    height: 300px;

    position: relative;
    bottom: 580px;

}

#group{
    position: relative;
    bottom: 200px;
    left: 120px;
}

#paybilt-canada{
    position: relative;
    top: 200px;
    right: 1100px;
}

#our-payment{
    position: relative;
    bottom: 180px;
    left: 500px;
}

#useful-links{
    position: relative;
    bottom: 180px;
    left: 570px;
}

#payment-png{
    position: relative;
    bottom: 180px;
    left: 640px;
}

#company{
    position: relative;
    bottom: 180px;
    left: 710px;
}

#send{
    position: relative;
    top: 150px;
    right: 60px;
}

#support-business{
    position: relative;
    bottom: 10px;
    left: 30px;
}

#send-receive{
    position: relative;
    bottom: 10px;
    left: 85px;
}

#about-careers{
    position: relative;
    bottom: 50px;
    left: 200px;
}

#terms-and-conditions{
    position: relative;
    top: 200px;
    right: 400px;
}

#privacy-policy{
    position: relative;
    top: 105px;
    left: 1500px;
}