.girl{
    width: 1920px;
    height: 2599px;

    background-image: url('/assets/rectangle.png');
}

#paybil{
    position: relative;
    bottom: 1130px;
    left: 230px;
}

#obvius{
    position: relative;
    bottom: 950px;
    right: 160px;
    z-index: 1;
}

#asset{
    position: relative;
    bottom: 670px;
    right: 250px;
}

#choice{
    position: relative;
    bottom: 1248px;
    left: 1000px;
}

#busines{
    position: relative;
    bottom: 1100px;
    left: 420px;
}

#needle{
    position: relative;
    bottom: 900px;
    left: 850px;
}

#get-in-touch{
    position: relative;
    bottom: 750px;
    left: 530px;
}

#paybilt-for-you{
    position: relative;
    bottom: 650px;
    right: 70px;
}

.gray-box{
    width: 1920px;
    height: 594px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/Rectangle\ 547.png');

    position: relative;
    bottom: 600px;
}

#name{
    position: relative;
    top: 180px;
    left: 338px;
}

#line-1{
    width: 1228px;

    position: relative;
    top: 350px;
    left: 250px;
}

#line-2{
    position: relative;
    top: 200px;
    right: 290px;
}

#line-3{
    position: relative;
    top: 129px;
    left: 340px;
}

#mail{
    position: relative;
    top: 109px;
    left: 490px;
}

#message{
    position: relative;
    top: 250px;
    right: 308px;
}

#problems{
    position: relative;
    top: 400px;
    right: 540px;
}

#yellow{
    position: relative;
    top: 360px;
    left: 1300px;
}

#submit{
    position: relative;
    top: 413px;
    right: 145px;

    z-index: 1;
}