.girl{
    width: 1920px;
    height: 2699px;

    background-image: url('/assets/rectangle.png');
}

#paybil{
    position: relative;
    bottom: 1130px;
    left: 230px;
}

#obvius{
    position: relative;
    bottom: 950px;
    right: 160px;
    z-index: 1;
}

#asset{
    position: relative;
    bottom: 670px;
    right: 250px;
}

#choice{
    position: relative;
    bottom: 1248px;
    left: 1000px;
}

#busines{
    position: relative;
    bottom: 1100px;
    left: 420px;
}

#needle{
    position: relative;
    bottom: 900px;
    left: 930px;
}

.get-in-touch{
    width: 800px;
    position: relative;
    bottom: 880px;
    left: 650px;



    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 4em;
}

#paybilt-for-you{
    position: relative;
    bottom: 850px;
    left: 650px;
}

.gray-box{
    width: 1920px;
    height: 594px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/Rectangle\ 547.png');

    position: relative;
    bottom: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;

}

.gray-box input{
    width: 100%;
    background: transparent;

    color: white;

    border: none;
    outline: none;
    box-shadow: none;

    font-size: 1em;
    letter-spacing: 0.1em;
}


.input-name{
    position: relative;
    left: 300px;
    bottom: 150px;
    width: 800px;
}

.input-email{
    position: relative;
    left: 700px;
    bottom: 150px;
    width: 800px;
}

.input-message{
    width: 1200px;
    
    position: relative;
    right: 370px;
    top: 50px;
}

.gray-box span{

    font-family: 'Roboto', sans-serif ;
    color: white;

    padding: 10px 0 5px;
    position: relative;
    bottom: 40px;

    color: rgb(255, 255, 255);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
    font-size: 1.05em;
}

.gray-box input:valid ~ span,
.gray-box input:focus ~ span{
    color: rgb(0, 0, 0);
    font-size: 0.90em;
}

.gray-box i{
    position: absolute;
    left: 0;
    bottom: 10px;

    width: 100%;
    height: 2px;
    background: white;
}

.button-yellow{
    position: relative;
    top: 200px;
    left: 200px;


    border-radius: 50px;

    font-size: 20px;
    width: 400px;
    height: 50px;
    background: #FFFC30;
}

.text-final{
    position: relative;
    right: 1100px;
    top: 210px;

    color: white;

    width:1500px ;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}