.skate{
    width: 1920px;
    height: 874px;

    position: relative;
    bottom: 1000px;
}

#skate1{
    position: relative;
    left: 518px;
    z-index: 1;
}

@media only screen and (max-width:375px){
    #skate1{
        width: 300px;
        left: 25px;
        top: 200px;
    }
}

#canadias{
    position: relative;
    bottom: 700px;
    left: 150px;
}

@media only screen and (max-width:375px){
    #canadias{
        width: 250px;
        position: relative;
        bottom: 150px;
        left: 50px;
        z-index: 1;
    }
}

#consumers{
    position: relative;
    right: 580px;
    bottom: 500px;
}

@media only screen and (max-width:375px){
    #consumers{
        width: 200px;
        position: relative;
        left: 50px;
        bottom:150px;
        z-index: 1;
    }
}

.proff{
    width: 900px;
    position: relative;
    bottom: 950px;
    left: 550px;
}

@media only screen and (max-width:375px){
    .proff{
        width: 375px;
        left: 0px;
    }
}

#prof{
    width: 900px;
}

@media only screen and (max-width:375px){
    #prof{
        width: 200px;
        position: relative;
        bottom: -10px;
        right: -85px;
        z-index: 1;
    }
}

#arrow{
    width: 100px;
    position: relative;
    top: 70px;
    left: 380px;
}

@media only screen and (max-width:375px){
    #arrow{
        width: 30px;
        position: relative;
        left: -40px;
        top: 55px;
    }
}