.skate{
    width: 1920px;
    height: 874px;

    position: relative;
    bottom: 1000px;
}

#skate1{
    position: relative;
    left: 518px;
    z-index: 1;
}

#canadias{
    position: relative;
    bottom: 700px;
    left: 150px;
}

#consumers{
    position: relative;
    right: 580px;
    bottom: 500px;
}

.proff{
    width: 900px;
    position: relative;
    bottom: 950px;
    left: 550px;
}

#prof{
    width: 900px;
}

#arrow{
    width: 100px;
    position: relative;
    top: 70px;
    left: 380px;
}