.circle img{
    position: absolute;
    left: 900px;
}

@media only screen and (max-width:375px){
    .circle img{
        position: absolute;
        left: 150px;
        top: 700px;
    }
}

@media only screen and (min-width: 2560px) and (max-width:3840px){
    .circle img{
        margin-left: 330px;
    }
}

@media only screen and (min-width: 3840px) and (max-width:3840px){
    .circle img{
        margin-left: 950px;
    }
}

.brush{
    position: absolute;
    left: 100px;
    padding: 50px 0 0 0;
}

@media only screen and (max-width:375px){
    .brush img{
        width: 350px;

        position: absolute;
        left: -60px;
        top: 400px;
        padding: 50px 0 0 0;
    } 
}

@media only screen and (min-width: 2560px) and (max-width:3840px){
    .brush img{
        margin-left: 280px;
    }
}

@media only screen and (min-width: 3840px) and (max-width:3840px){
    .brush img{
        margin-left: 900px;
    }
}

#group2{
    position: absolute;
    left: 1045px;
    padding: 200px 0 0 0;
}

@media only screen and (max-width:375px){
    #group2{
        width: 300px;
        position: absolute;
        left: 50px;
        top: 550px;
    }
}

@media only screen and (min-width: 2560px) and (max-width:3840px){
    #group2{
        margin-left: 340px;
    }
}

@media only screen and (min-width: 3840px) and (max-width:3840px){
    #group2{
        margin-left: 950px;
    }
}

#scroll{
    position: relative;
    left: 1000px;
    padding: 450px 0 0 0;
}

@media only screen and (max-width:375px){
    #scroll{
        width: 300px;
        position: relative;
        left: 50px;
        top: 350px;
    }
}
