.circle img{
    position: absolute;
    left: 900px;
}

.brush{
    position: absolute;
    left: 100px;
    padding: 50px 0 0 0;
}

#group2{
    position: absolute;
    left: 1045px;
    padding: 200px 0 0 0;
}

#scroll{
    position: relative;
    left: 1000px;
    padding: 450px 0 0 0;
}

