.white-squares{
    width: 1920px;
    display: flex;
}

@media only screen and (max-width:375px){
    .white-squares{
        width: 375px;
        display: block;

        position: relative;
        bottom: 105px;
    }
}

.block1{
    width: 384px;
    height:275px;
    background-color: white;
    border-style:solid;
}

.block2{
    width: 384px;
    height:275px;
    background-color: white;
    border-style:solid;
}

.block3{
    width: 384px;
    height:275px;
    background-color: white;
    border-style:solid;
}

.block4{
    width: 384px;
    height:275px;
    background-color: white;
    border-style:solid;
}

.block5{
    width: 384px;
    height:275px;
    background-color: white;
    border-style:solid;
}

@media only screen and (max-width:375px){
    .block1{
        width: 375px;
    }

    .block2{
        width: 375px;
    }

    .block3{
        width: 375px;
    }

    .block4{
        width: 375px;
    }

    .block5{
        width: 375px;
    }
}

#levels{
    position: relative;
    left: 150px;
    top: 50px;
}

#omni{
    position: relative;
    top: 150px;
    left: 5px;
}

#sheet{
    position: relative;
    left: 155px;
    top: 50px;
}

#canada{
    position: relative;
    left: 40px;
    top: 150px;
}

#little-arrow{
    position: relative;
    left: 155px;
    top: 60px;
}

#one{
    position: relative;
    left: 40px;
    top: 113px;
}

#inte{
    position: relative;
    left: 155px;
    top: 50px;
}

#the-first{
    position: relative;
    left: 20px;
    top: 113px;
}

#profile{
    position: relative;
    left: 165px;
    top: 50px; 
}

#our-net{
    position: relative;
    left: 45px;
    top: 130px;  
}